.waviii {
  font-family: "Syncopate", sans-serif;
}

.waviii-2 {
  font-size: 18px;
  color: #a3de9e;
  font-family: "Syne", sans-serif;
}

.price {
  color: #2c91c7;
  font-weight: 800;
}

.drop-item {
    color: #141414;
    font-weight: 800;
  }

a {
  color: #2c91c7;
}